.Header {
    position: absolute;
    height: 3.5rem;
    width: 100%;
    background-color: #7fe3ff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
}


.Header div {
    flex: 1;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    height: 3rem;
    width: 3rem;
}

.weather-logo {
    height: 2rem;
    vertical-align: middle;
}

.search-container {
    height: 100%;
    /* max-width: 25%;  */  /* with this, flex 1 will not work*/
    display: flex;
    justify-content: flex-end;
}

/* after not work in input */
.search-container::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 1rem;
    height: 3px;
    top: 36px;
    right: 24px;
    transform: rotate(45deg);
}

.search-input {
    font-size: 16px;
    margin-right: 1rem;
    color: #fff;
    background: transparent;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: 3px solid #fff;
    box-shadow: 0 1px #0091c2;
    transition: width .5s;
}



.search-input:focus {
    width: 80%;
}